@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Apple sleek scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #F5F5F7;
}
::-webkit-scrollbar-thumb {
  background: #C7C7CC;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8E8E93;
}
